node_modules/
.env
session/
data/
logs/
*.sqlite
*.sqlite-wal
*.sqlite-shm
.DS_Store

# Gradle files
.gradle/
build/
*.apk
*.aar
*.ap_
*.dex

# Android Studio
.idea/
*.iml
*.iws
*.ipr
.externalNativeBuild
.cxx/

# Build outputs
bin/
gen/
local.properties
